<div id="page-content">

<div id="home-container" class="container">
    <div class="jumbotron text-center">
        <div class="fondonegro">
            <h1 class="white-text display-4">Alpha Blog</h1>
            <hr class="my-4">
            <p class="white-text fs-20">
            Alpha blog, create articles about Ruby on Rails
            </p>
        </div>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign In</a>
    </div>

</div>
</div>